


@{
    ViewBag.Title = "Liste_Bordereau_SendToMFG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tbody > tr:hover, tbody > tr.selected {
        background-color: dodgerblue;
        color: white;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }
</style>
@section header {

    <h1>
        Liste Bordereaux Envoyer a MFG

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active"> Rapport </li>
        <li class="active">Liste_Bordereau_Envoyer_a_MFG</li>
    </ol>
}




<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border titleprghp">
                <h3 class="box-title">Liste Bordereaux Par Jour</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive " data-pattern="priority-columns">
                            <table cellspacing="0" id="validBord" class="table table-small-font table-bordered ">
                                <thead>

                                    <tr class="bg-primary">
                                        <th data-priority="3"><center>Num bordereau</center></th>
                                        <th data-priority="1">Réf Contart</th>
                                        <th data-priority="1"><center>Code Adhérent</center></th>
                                        <th data-priority="3"><center>Date Saisie</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.liste_Bord)
                                    {
                                        <tr>
                                            <td>
                                                @item.NUM_BORD
                                            </td>
                                            <td>
                                                @item.REF_CTR_BORD
                                            </td>
                                         
                                            <td>
                                                @item.Ref_ADH_MFG
                                            </td>
                                            <td>
                                                @item.DAT_SAISIE_BORD.ToString("d")
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@***********************************************************************************************************@
