

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive " data-pattern="priority-columns">
            <table cellspacing="0" id="listFactLettrage" class="table table-small-font table-bordered">
                <thead>

                    <tr class="bg-primary">
                        <th data-priority="3"><center>Nom acheteur</center></th>
                        <th data-priority="3"><center>Ref facture</center></th>
                        <th data-priority="1">Montant TTC</th>
                        <th data-priority="1"><center>Action</center></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Liste_Réconsiliation)
                    {
                    <tr>
                        <td>@item.NOM_IND</td>
                        <td>@item.REF_DOCUMENT_DET_BORD</td>
                        @{
                            string v = String.Format("{0:N3}", item.MONT_TTC_DET_BORD);

                        }
                        <td style="text-align:right">
                            @v
                        </td>
                        <td><button type="button" onclick="AnnulerRéconsiliation(@item.ID_ENC_LET)" class="btn btn-danger btn-sm">Annuler</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <input type="hidden" id="valDet" />
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>
    $("tr").click(function(){
    $(this).addClass("selected").siblings().removeClass("selected");
    });
    var AA = function (userid) {
        $("#valDet").val(userid);
    }
</script>